<ion-view view-title="Watch List" ng-controller="WatchListCtrl as vm">
    <ion-content>
        <div class="list">
            <p ng-repeat="result in vm.items">
                <a class="item item-icon-right"
                   ng-repeat="item in result"
                   ng-click="vm.setItemId(item.Id)">
                    {{item.ItemName}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>
